.forecast {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border: 1px solid $clr4;
    border-radius: 10px;
    margin: 10px;
    justify-items: center;
    .condition-img {
        img {
            max-width: 150px;
            max-height: 150px;
        }
    }
    .forecast-day {
        display: grid;
        grid-template-rows: 1.5rem 3rem 150px repeat(4, 3rem);
        align-items: center;
        > * {
            padding: 5px;
            text-align: center;
            font-weight: 600;
        }
    }
    > *:not(:last-child) {
        border-right: 1px solid $clr4;
    }
}
