.screen {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 70px;
    visibility: hidden;
    transition: 0.5s;
    &.open {
        backdrop-filter: blur(2px);
        visibility: visible;
        cursor: pointer;
    }
}

.hamburger-react {
    display: none;
}

header {
    background-color: $clr3;
    opacity: 0.6;
    margin-bottom: 2rem;

    h1 {
        background-image: linear-gradient(to bottom right, black, rgb(9, 83, 243));
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.logo {
    height: 60px;
    width: auto;
}

nav {
    margin-inline-start: 60px;
    font-weight: bold;
    li {
        padding: 10px;
        cursor: pointer;
    }
}

@media (max-width: 740px) {
    header h1,
    .logo {
        position: relative;
        left: -1.5rem;
    }

    .hamburger-react {
        display: block;
    }

    nav {
        margin-inline-start: initial;
        background-image: linear-gradient(220deg, $clr2, $clr4);
        position: fixed;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: $clr1;
        transform: translate3d(100%, 0, 0);
        ul {
            width: 100%;
            flex-direction: column;
            align-items: initial !important;
            font-size: 1.5rem;
            box-shadow: 0 5px 10px;
        }
        li {
            padding: 15px 5rem;
            &:not(:last-child) {
                border-bottom: groove 3px $clr2;
            }
            &:hover {
                background-image: linear-gradient(220deg, white, $clr4);
            }
        }
    }

    header {
        &.open {
            opacity: 1;
            nav {
                z-index: 2;
                transform: translate3d(0, 0, 0);
            }
        }
    }
}
